.input-class{
    width: 360px;
        height: 40px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 16px;
}
.input-class::placeholder{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
h1 {
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 133%;
        letter-spacing: 0.04em;
        color: #2e2f42;
}