ul {
    list-style-type: none;
}
.gallery {
    display: flex;
    flex-direction: row;
    gap: 24px;
   flex-wrap: wrap;
}
img {
    display: block;
    width: 100%;
}
.gallery > li {
    width: calc((100% - 48px) / 3);
}